gevent
gevent-openssl
python-dotenv
requests
ujson
click
Pillow
python-decouple
psutil

pytest
pytest-cov
pytest-pep8
pytest-timeout
pytest-instafail
bandit
flake8
coverage
responses
freezegun
pylint
ipython
autopep8
black
wheel

